# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed

RewriteRule http://www.insangel.co.uk/(?:application|modules|system|^login)\b - [F,L]
RewriteRule ^bands/([0-9]+) http://www.insangel.co.uk/bands/index/$1 [L]
RewriteRule ^artists http://www.insangel.co.uk/bands/all_artists [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php [PT]